/* Community.module.css */
.community {
  padding: 10rem 0;
}

.content {
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  place-items: center;
  gap: 10rem 5rem;
}

.gridSection {
  width: 100%;
}

.gridSection img {
  width: 100%;
}

.text {
  width: 100%;
  text-align: left;
}

.title {
  font-size: clamp(2.8rem, 5vw, 70px);
  text-transform: capitalize;
  padding-bottom: 5rem;
  text-align: left;
}

.desc {
  font-size: clamp(0.5rem, 4vw, 28px);
  padding-bottom: 1rem;
}

.btns {
  display: flex;
}

@media only screen and (max-width: 1200px) {
  .gridSection img {
    width: 100%;
  }
  .text {
    height: unset;
  }
}

@media only screen and (max-width: 900px) {
  .community {
    padding: 5rem 0.5rem;
  }
  .content {
    width: 100%;
    gap: 0;
    margin: 4rem 0;
  }
  .title {
    padding-bottom: 1rem;
  }
  .text {
    width: 100%;
    padding: 3rem 1rem;
  }
}
