/* [project]/src/Pages/Project/Project.css [client] (css) */
.project-container > div {
  flex: 50%;
}

.project-container {
  flex-wrap: wrap;
  display: flex;
}

.project-description {
  max-width: 50%;
}

.project-images {
  max-width: 50%;
  max-height: 100vh;
  overflow: hidden;
}

.project-images > div > div {
  max-height: 100vh;
}

.project-description {
  padding: 100px;
}

.tag-container {
  flex-wrap: wrap;
  margin-top: 20px;
  display: flex;
}

.tag-container .tag {
  border: 1px solid silver;
  border-radius: 20px;
  margin: 5px;
  padding: 5px 20px;
}

.projects-container {
  margin-top: 100px;
  display: flex;
}

.projects-container .project-overview:hover > div {
  display: block;
}

.projects-container .project-overview {
  background-size: cover;
  width: 300px;
  height: 146px;
  margin: 9px;
  position: relative;
}

.projects-container .project-overview > div {
  color: #fff;
  background-color: #00000080;
  width: 100%;
  padding: 5px 8px 10px;
  font-size: 14px;
  display: none;
  position: absolute;
  top: auto;
  bottom: 0;
}

@media (width <= 768px) {
  .project-container > div {
    flex: 100%;
  }

  .project-description {
    max-width: 100%;
  }

  .project-description .project-overview > div {
    display: block;
  }

  .projects-container {
    flex-wrap: wrap;
  }

  .project-images {
    max-width: 100%;
  }
}


/* [project]/src/components/Footer/Footer.css [client] (css) */
#footer {
  padding: 1rem 0;
}

#footer .content {
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  display: flex;
}

#footer .content .footer-text {
  opacity: .5;
}

@media only screen and (width <= 768px) {
  #footer .content {
    flex-direction: column;
  }

  #footer .content .footer-text {
    padding: 2rem 0 0;
  }
}


/* [project]/src/components/Menu/Menu.css [client] (css) */
#menu.sticky {
  text-align: center;
  background-color: #fff;
  width: 100%;
  position: fixed;
  top: 0;
  bottom: auto;
}

#menu.sticky button, #menu.sticky a {
  color: #000;
}

#menu.minified {
  text-align: left;
  background-color: #fff;
  flex-direction: column;
  width: 240px;
  display: flex;
  position: fixed;
  top: auto;
  bottom: 50px;
  left: 0;
  transform: none;
}

#menu.minified button, #menu.minified a {
  color: #000;
}

#menu {
  z-index: 1;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

#menu button, #menu a {
  color: #fff;
  background-color: #0000;
  border: none;
  font-family: monospace;
  font-size: 1.3rem;
}

.toggleBtn.active {
  width: 240px;
}

.toggleBtn {
  z-index: 1;
  color: #000;
  cursor: pointer;
  background-color: #fff;
  padding: 10px 20px;
  font-size: 1.3rem;
  position: fixed;
  bottom: 0;
  left: 0;
}

.toggleBtn span {
  margin-left: 10px;
}


/* [project]/src/components/Loading/Loading.css [client] (css) */
.loading {
  z-index: 9999;
  background-color: #fff;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
}


/*# sourceMappingURL=src_03354830._.css.map*/