/* Footer.module.css */
.footer {
  padding: 1rem 0;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}

.footerText a{
  margin-right: 1rem;
  color:black;
  text-decoration: none;
}
.footerText {
  /*opacity: 0.5;*/
  font-size: 2rem;

}
.logo *{
  fill:black
}
.logo{
  margin:auto;
}
@media only screen and (max-width: 768px) {
  .content {
    flex-direction: column;
  }
  .footerText {
    padding: 2rem 0 0 0;
  }
}
